.title {
  margin-top: 1rem;
  font-size: 25px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
}

.editorContainer {
  width: 100%;
  height: 100%;
  display: flex;
}
.appContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
